.simulation-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 270px;
    border-radius: 20px;
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    font-size: 20px;
    opacity: 0.85;
    transition: all ease .7s;
}

.simulation-link:hover{
    opacity: 1;
    scale: 1.01;
    background-color: orange;
}